body,
html {
    height: max-content;
    width: 100%;
    margin: 0;
    
}
.section-header {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: max-content;
}
.content {
    position: relative;
    z-index: 1;
    top: 0;
    
}
.intro {
    font-family: "Montserrat", sans-serif;
}
/* Sử dụng ::before để tạo hình nền chỉ trong .section-header */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* Đường dẫn đến hình ảnh */
    background-image: url('images/unsplash_SfDofjXtxHE.png');

    /* Để hình ảnh phủ toàn bộ trang */
    background-size: cover;

    /* Không lặp lại hình ảnh */
    background-repeat: no-repeat;

    /* Đặt vị trí của hình nền ở giữa */
    background-position: center center;

    /* Đảm bảo hình nền cố định khi cuộn trang */
    background-attachment: fixed;
}

.check-status {
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 4px 4px 4px #00000040;
    color: #14c1e9;
    font-weight: 700;
    font-size: 24px;
    background-color: #C4C4C41A;
    border-radius: 20px;
}
.section-schedule {
    font-family: "Montserrat", sans-serif;
    
}
.section-vaccine-types {
    background-color:#ffffff; /* Ensure no background image */
    width: 100%;
    height: max-content;
}
.section-vaccine-types > img {
    opacity: 0.5;
    
}
.section-vaccine-result {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: #C4C4C41A;
    border-radius: 20px;
    height: max-content;
    
}
.section-vaccine-result > div:first-child {
    background: #C4C4C40D;
    border-radius: 20px 20px 0px 0px;

}
.section-vaccine-result > div:nth-child(2) > input:first-child {
    background-color: transparent;
    border-color: #17C2EC;
    border-width: 3px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
.section-vaccine-result > div:nth-child(2) > input:nth-child(2) {
    background-color: transparent;
    border-color: #C4C4C426;
    border-width: 3px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
.section-vaccine-result > div:nth-child(2) > input:nth-child(2)::placeholder {
    color: #FFFFFF80
}
.section-vaccine-result > div:nth-child(2) > input:first-child::placeholder {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}
.section-vaccine-result > div:nth-child(2) > button {
    border: 3px solid #17C2EC;
    color: #17C2EC;
    border-radius: 20px;
}
.section-vaccine-result > div:last-child {
    color:  #17C2EC;
    font-weight: 700;
    background-color: #C4C4C40D;
    border-radius: 20px;
}
.section-why {
    background-color: #C4C4C41A ;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: max-content;
}
.section-why > .container > div:last-child > div:first-child {
    background-color: #C4C4C433;
    border-radius: 49.9px 149.69px 49.9px 49.9px
}
.section-get-vaccine {
    background-color:#ffffff;
    
    font-family: "Montserrat", sans-serif;
    height: max-content;

}
.inp-name::placeholder {
    font-size: 24px;
    font-weight: 500;
}
.section-feedback > img {
    position: absolute;
}
.section-footer > div:first-child {
    position: relative;
    display: grid;
    align-self: end;
    bottom: 0;
    left: 0;
}
.section-overlay {
    display: grid;
    height: calc(450px + 90vmin);

    >* {
        grid-area: 2/-1;
    }
}
&:after {
    content: "";
    grid-area: 2/-1;
  }
.section-footer {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
.section-footer-menu {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin: 0;
}